{% extends "base2.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block body %}
    <h2>About</h2>

    <h4>Projekt Blackjack</h4>

    <p>
        Följande projekt har skapats/skrivits för att få ett slutbetyg i kursen MVC. Projekt omfattar ett Blackjack-spel med tillhörande 
        API-delar samt databas-del. Det har även testats via bland annat Scrutinizer samt att det finns egenskriva test inuti projektet för att 
        testa koden som används.
    </p>


    <a href="{{ path('project_about_database') }}">About Database</a><br>


    

    


    
    
{% endblock %}
