{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Presentation</h1>
    <h4>Alexander Norrman</h4>
    <!-- <p>An image which can be clicked on.</p>
    <a href="{{ asset('img/glider.svg') }}">
        <img src="{{ asset('img/glider.svg') }}" alt="">
    </a> -->
    <p>
        Jag pluggar webbprogrammering på BTH, 28 år gammal, born and raised in Karlskrona<br><br>

        På fritiden gillar jag att köra båt, se bild.
    </p>
    <img src="{{ asset('img/Boat.jpg') }}" height="200px" width="350px" alt="">
    
    
{% endblock %}
