{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
        <article>
            <header>
                <h1>Redovisning MVC</h1>
            </header>
                <h4>Innehållsförteckning:</h4>
                <a href="#kmom01">Kmom01</a><br>
                <a href="#kmom02">Kmom02</a><br>
                <a href="#kmom03">Kmom03</a><br>
                <a href="#kmom04">Kmom04</a><br>
                <a href="#kmom05">Kmom05</a><br>
                <a href="#kmom06">Kmom06</a><br>
                
            <section>
                <br>
                <h2><a name="kmom01">Kmom01</a></h2><br>
                <p><b>
                    Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.
                </b><br><br>
                    Jag har precis gått en kurs med objektorienterad programmering i Python, så jag tror att generellt har jag ganska bra koll på hur objekt fungerar. Detta är dock PHP vilket jag inte alls är lika van vid att använda och befarar inte kommer vara lika smidigt som Python. Det som jag ställer mig frågande till är syftet med denna kursen då vi precis har avslutat en objektorienterad Pythonkurs där vi använde ramverket Flask för att kunna göra applikationer på webben, vilket också verkar vara syftet här? Är detta kanske någon förlängning på den kursen, och isåfall varför använder vi PHP istället för att forsätta med Python?
                </p><br>

                <p><b>
                    Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?
                </b><br><br>
                    Rent generellt kan man skapa flera olika klasser, som är fristående varandra, beroende av någon annan klass eller ärver från en annan klass. Man kan med dessa klasser skapa olika objekt där varje objekt sedan i sin tur kan innehålla en mängd olika variabler som man själv bestämmer som då samtliga tillhör det objektet. Klasserna innehåller även funktioner/metoder som är unika för just den klassen och som kan användas i samband med det objektet som skapats. 
                </p><br>
        
                <p><b>
                    Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?
                </b><br><br>
                    Den liknar den strukturen vi har haft i både Python och databaskursen, med att skapa objekt som man sedan kan använda/skicka till routes för att få upp till en webbsida vilket är bra då jag kan relatera till detta. Jag tycker dock att det ofta blir väldigt många filer ganska omgående vilket är överväldigande då tanken är att man ska lära sig något nytt, så blir det oftast istället mer fokus på att leta bland alla filer istället för att kunna fokusera på att lära sig ämnet.
                </p><br>
        
                <p><b>
                    Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.
                </b><br><br>
                    Det verkar som att MYSQL inte är speciellt kompatibelt med PHP då den är väldigt "föråldrad" vilket är synd då vi precis har lärt oss att använda det i föregående kurs. Det finns däremot två andra, MYSQLITE och PDO. PHP beskrivs även som ett språk som bidrar till att man kan producera snabb och effektiv kod vilket inte är något jag kan relatera till än, men förhoppningsvis efter denna kursen så förstår jag vad de menar med detta.
                </p><br>
        
                <p><b>
                    Vilken är din TIL för detta kmom?
                </b><br><br>
                    Det känns som att denna veckan har mest handlat om att försöka hitta och förstå hur alla olika filer och delar hänger ihop. Som relativt ny i ämnet är det svårt att kunna ta till sig så många olika delar på så kort tid. Det mest konkreta jag känner att jag har lärt mig är allmänt hur det kan se ut när man använder objekt i PHP samt att man kan namnge sina routes i PHP för att sedan hänvisa till dessa i t.ex. navbaren för att kunna länka/bläddra mellan dem olika sidorna på ett smidigare sätt. 
                </p><br>
            </section>

            <section>
                <br>
                <h2><a name="kmom02">Kmom02</a></h2><br>
                <p><b>
                    Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.
                </b><br><br>
                    Arv innebär att en klass ärver egenskaper från en annan klass. Klassen kan ärva alla publika och dolda egenskaper samt metoder från föräldrarklassen. Den kan sedan ha egna egenskaper och metoder.
                    <br><br>
                    Komposition tillåter en klass att innehålla en annan klass, t.ex. en bil klass kan innehålla en motor klass. Denna relation tillåter också att kod kan återanvändas men är av en mer flexibel form.
                    <br><br>
                    Interfaces tillåter att man använder en variation av olika klasser. Den tillåter en även att specificera vilka metoder en klass ska implementera.
                    <br><br>
                    Traits används då en klass behöver ärva från flera olika klasser. Traits deklarerar metoder som kan appliceras/användas i flera olika klasser. Metoderna kan vara av typerna public, private eller protected. 
                </p><br>

                <p><b>
                    Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?
                </b><br><br>
                    Jag är nöjd med hur jag har löst uppgiften. Jag har bara använt mig av en klass än så länge då jag tycker att det underlättar förståendet. Det är ofta det blir en rad olika filer och mappar så att det blir allt annat än enkelt att följa flödet, så jag tycker inte att man ska dela upp koden i onödan. Blir det så att flera funktioner då korten ska användas i något form av spel kan det eventuellt vara lämpligt att lägga till en ytterligare klass för dessa spelmetoder som i sin tur ärver från min ursprungliga Deck-klass. Jag har även skapat en metod för att återskapa en ny kortlek då kort har dragits ut, på så sett blir det smidigare att arbeta med sessionen och sedan ta bort de bortagna korten från den ursprungliga leken och återskapa en ny. 
                </p><br>
        
                <p><b>
                    Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?
                </b><br><br>
                    Jag tycker inte att det bidrog i någon större utsträckning i detta fallet. Jag tror eventuellt om man skulle jobba i en större grupp i ett större projekt med flera olika delar, så kunde man ha dragit nytta av något dylikt för att alla skulle ha samma utgångspunkt. 
                </p><br>
        
                <p><b>
                    Vilken är din TIL för detta kmom?
                </b><br><br>
                    Denna veckan har jag fördjupat mina kunskaper i PHP hur man jobbar med routes och hur man kan använda sessionen i PHP för att kunna spara ner olika värden. Jag har även lärt mig hur man kan skicka med ett värde, t.ex. ett nummer via URL'en så att man utifrån detta vet hur många kort som förväntas att dras. 
                </p><br>
            </section>

            <section>
                <br>
                <h2><a name="kmom03">Kmom03</a></h2><br>
                <p><b>
                    Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?
                </b><br><br>
                    Jag brukar oftast skriva pseudokod när jag programmerar. Först löser man problemet i grova drag i huvudet, och så skriver man ner vad som sker och i vilken ordning för att på så sätt orientera sina tankar. Därefter blir det enklare att programmera då man har ett mål att uppnå. Efter det kan man skriva ny pseudokod som går ner ytterligare i detalj osv tills dess att programmet är färdigt. Flödesdiagram är enligt min mening mest användbart om man ska jobba i grupp/projekt med andra, så att alla har samma bild över vad som ska göras och hur diverse delar ska hänga ihop. 
                </p><br>

                <p><b>
                    Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?
                </b><br><br>
                    Jag är väldigt nöjd med hur jag har löst uppgiften, jag känner att jag har skapat en smidig lösning som uppfyller precis de krav som ställdes i uppgiften. Jag har använt mig av sparsamt med kod i routerna och trots detta uppnåt ett bra resultat. Jag har även använt mig av ett par redirect-routes så att exekvering av kod ska kunna ske utan att användaren/spelaren märker det. En förbättringspotential av spelet skulle vara designen, dock så fanns inte detta med i kraven.
                </p><br>
        
                <p><b>
                    Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?
                </b><br><br>
                    Eftersom jag har samlat på mig kunskaper från tidigare kurser om hur man använder sessioner för att på så sätt spara värden som man kan hämta ut i andra routes så har det bidragit till min lösning av spelet. Jag är tveksam till ramverket då det brukar krasha var femte gång man startar om en sida och kräver att man startar om uppkopplingen i terminalen. Det uppenbara är också att ramverket nyttjar PHP som programmeringsspråk vilket inte är något jag skulle rekommendera. Det blir extra svårt/komplicerat att programmera i PHP när man är van vid att programmera i t.ex. Python eller JavaScript som snarare hjälper till istället för att göra motstånd. En så enkel sak som att ta bort något från en array kan bli ett stort problem när man går från ett dynamiskt språk till ett statiskt innan man inser vad felet beror på, då man inte ens överväger det som ett alternativ till fel till att börja med. 
                </p><br>
        
                <p><b>
                    Vilken är din TIL för detta kmom?
                </b><br><br>
                    Jag har lärt mig mer om hur man jobbar i Symfony, och routes med hjälp av sessioner och objekt. Jag har även tränat min förmåga att dessutom jobba med objekt i samband med sessionerna. Min förmåga att förstå hur saker och ting skickas via sidor, och generellt hur man hanterar routes har förbättrats i och med denna uppgiften.
                </p><br>
            </section>

            <section>
                <br>
                <h2><a name="kmom04">Kmom04</a></h2><br>
                <p><b>
                    Berätta hur du upplevde att skriva kod som testar annan kod med PHPUnit och hur du upplever phpunit rent allmänt.
                </b><br>
                    Jag tycker att själva testandet har fungerar bra, det påminner väldigt mycket om det vi gjorde i Python-kursen när vi testade så i och med det var själva konceptet inte så främmande. Jag hade däremot väldigt stora problem med att få igång själva testandet så att det fungerade på rätt sätt samt, samtidigt generera coverage. Det var svårt att veta vilken mapp allting skulle ligga i förhållande till varandra, och samtidigt var det små variabler i filerna som skulle justeras.
                </p><br><br>

                <p><b>
                    Hur väl lyckades du med kodtäckningen av din kod, lyckades du nå mer än 90% kodtäckning?
                </b><br><br>
                    Jag lyckades uppnå 100% kodtäckning i mina test. Jag valde att gå in på coverage-sidan och titta vilka delar av funktionerna som det saknades test på för att sedan därefter utöka mina tester med flera olika på samma funktion för att hela funktionen skulle täckas i testandet.
                </p><br>
        
                <p><b>
                    Upplever du din egen kod som “testbar kod” eller finns det delar i koden som är mer eller mindre testbar och finns det saker som kan göras för att förbättra kodens testbarhet?
                </b><br><br>
                    Jag skulle själv vilja påstå att min kod är testbar, eftersom att jag själv lyckades uppnå 100% kodtäckning i mina egna tester. Det som skulle kunna påverka är om det t.ex. hade kommit in något oväntat värde någonstans, så kanske det hade inneburit att vissa delar blir svårare att testa. Programmet är dock skrivet/löst på ett sådant sätt att det aldrig sker några udda inmatningar från/av användaren utan alla de värden som skickas in och ut ur funktioner är kontrollerade genom att användaren istället trycker på knappar så skickas värdena vidare.
                </p><br>
        
                <p><b>
                    Valde du att skriva om delar av din kod för att förbättra den eller göra den mer testbar, om så berätta lite hur du tänkte.
                </b><br><br>
                    Jag har inte skrivit om någon del av mina funktioner/kod. Jag tycker personligen att själva begreppet att skriva om kod för ett tests skull verkar lite fel. Det skulle i så fall vara om man testade en del av sin kod eller en funktion som producerade fel resultat eller var extremt svårtestad skulle man kunna ha övervägt att skriva om den på ett mer 'testvänligt' sätt för att på så sätt också få bättre kontroll över sitt program.
                </p><br>
        
                <p><b>
                    Fundera över om du anser att testbar kod är något som kan identifiera “snygg och ren kod”.
                </b><br><br>
                    Jag tänkar att om det är tydlig kod som är enkel att förstå vad den gör, och vad den returnerar så anses den som mer testbar, vilket också skulle kunna relatera till "snygg och ren kod". Har man många små funktioner med enkla delar i blir det snygg kod, och det blir dessutom enklare att testa eftersom att det sker mindre saker i själva funktionen.
                </p><br>

                <p><b>
                    Vilken är din TIL för detta kmom?
                </b><br><br>
                    Denna veckan har jag lärt mig om hur man sätter upp och använder PHPUNIT samt dess fördelar. Hur man tydligt kan se över sin kod, vilka delar som testats och vilka delar det saknas testning på för att enkelt åtgärda detta. Jag har även lärt mig använda PHPDOC för att dokumentera min kod, lite likt det vi gjorde i JS-doc.
                </p><br>
            </section>

            <section>
                <br>
                <h2><a name="kmom05">Kmom05</a></h2><br>
                <p><b>
                    Gick det bra att jobba igenom övningen med Symfony och Doctrine. Något särskilt du tänkte/reagerade på under övningen?
                </b><br><br>
                    Det gick bra att ladda ner och installera alla relaterade delar. Det svåraste med att göra en "enkel" databaslösning, i detta fallet sqlite3 enligt mig är att man tappar lite kontrollen över sin databas. I de tidigare kurser där vi har använt mysql för att skapa olika databaser känns det som att man har betydligt mer kontroll över sin databas om man t.ex. skulle behöva gå in och redigera något i efterhand.
                </p><br>

                <p><b>
                    Berätta om din applikation och hur du tänkte när du byggde upp den. Tänkte du något speciellt på användargränssnittet?
                </b><br><br>
                    Jag har följt samma gränssnit som i tidigare kursmoment. Jag har även använt de routes som fanns med som krav i uppgiften. Utöver det så har jag använt upplägget som vi lärde oss i uppgiften. så routen heter t.ex. product/create för create-sidan. Alla sidor finns dessutom med i navigeringen.
                </p><br>
        
                <p><b>
                    Gick det bra att jobba med ORM i CRUD eller vad anser du om det, jämför gärna med andra sätt att jobba med databaser?
                </b><br><br>
                    Ja det gick bra eftersom jag såg till att vara extra noga när jag skapade databasen och dess tabeller. Det gick smidigt när väl allting fanns på plats, men återigen, så föredrar jag känslan av att veta att man enkelt kan redigera i sin databas, t.ex. i mysql, det blir även enklare att skapa sig en översikt och bilda sig en uppfattning om sin databaskod istället för att man ska in och jobba i terminalen. Jag föredrar därför det sätt vi använde oss av i databas-kursen. Även om det kanske rent praktiskt innebar mer arbete och kodande, så kändes det som att man lärde sig mer och hade betydligt bättre grepp om sin kod.
                </p><br>
        
                <p><b>
                    Vad är din uppfattning om ORM så här långt och relatera gärna till andra sätt att jobba med applikationskod mot databaser?
                </b><br><br>
                    Det har fungerat bra så här långt, som sagts ovan så finns det andra sätt som jag föredrar att arbeta på i dessa fall. Det diskuterades även på föreläsningen hur mycket ramverk man bör ta med i olika kurser och kursmoment, och jag tycker att 'less is more' när det gäller ramverk. I lärandets stund så behöver man arbeta mer med "rå kod" för att förstå helheten, är allting man arbetar med i varje kurs inlindat i ett ramverk som sköter saker åt en som man inte ens märker, missar man möjligheten att lära sig väsentliga delar. Jag märker även att många ramverk liknar varandra. Därför skulle man kunna tycka att det inte behövs användas så många olika ramverk hela tiden, utan hade föredragit mer kodandet.
                </p><br>
        
                <p><b>
                    Vilken är din TIL för detta kmom?
                </b><br><br>
                    Jag har lärt mig att det finns många olika ramverk, som fungerar på olika sätt, men även att de har saker gemensamt. Detta kan både vara en för- och nackdel då man kanske precis har använt ett liknande ramverk och därför förväntar sig att det nya ramverket ska fungera på ett visst sätt. Fungerar det på samma sätt så känns allt smidigt, men är det något väsentligt som skiljer sig åt och som man kanske inte heller är medveten om kan man fastna på "enkla/uppenbara" saker helt i onödan. Jag hade t.ex. problem när jag skulle skicka in datan som hämtats från databasen från php-filen in till min template twig-fil. Då visade sig att man anropar samma object och tillhörande funktioner på ett sätt ute i php-filen, men i tillhörande twig-fil förväntades det skrivas på ett annat sätt vilket var rejält förvirrande innan man lyckats lista ut det.
                </p><br>
            </section>

            <section>
                <br>
                <h2><a name="kmom06">Kmom06</a></h2><br>
                <p><b>
                    F
                </b><br><br>
                    T
                </p><br>

                <p><b>
                    F
                </b><br><br>
                    T
                </p><br>
        
                <p><b>
                    F
                </b><br><br>
                    T
                </p><br>
        
                <p><b>
                    F
                </b><br><br>
                    T
                </p><br>
        
                <p><b>
                    F
                </b><br><br>
                    T
                </p><br>
            </section>
        </article>
{% endblock %}

